*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background:url(project-2.jpg) no-repeat center center /cover;
height: 100vh;
font-family: sans-serif;
}
.open-btn{
	position: absolute;
	top: 75%;
	left: 10%;
background:transparent;
width:300px;
height: 80px; 
font-size:2rem;
color:#fff;
border:3px solid #FFF;
border-radius: 15px;
transition:0.6s;
}
.open-btn:hover{
	background-color: #FFF;
	color:#000;
	transform: scale(0.990);

}
.container{    
animation-name:animating;
animation-duration: 1s;
animation-timing-function:ease-in;  
position:absolute;  
display: none;
top:40%;
left: 50%; 

}
.content{ 
	background-color:#fff ;
width:220px;
height: 110px;
display:flex; 
justify-content: space-around ;
align-items: center;
z-index: 1;
color:#131;
border-radius: 10px;
font-size: 1.5rem;
font-weight:bold;
text-transform:uppercase;
padding:15px;
box-shadow: 5px 5px 30px #133;

}
.close-btn{  
	background:transparent;
	color:#ff0000;
	border:none;
	font-size: 3rem;
margin-left: 5px;
padding:0;
} 
.close-btn:hover{
	color:darkred;
}
@keyframes animating{ 
	0%{transform: translateY(-300px);

		}
	50%{
transform: translateY(10px);	
color: #131; 
	;
	}
	100%{
		transform: translateY(0px);
	}
} 