*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
background:url(project-1.jpg) no-repeat center center /cover ;
height: 100vh;
display: flex;
flex-direction:column;   
justify-content: center;
align-items: center;
text-align: center;
font-family: sans-serif;
line-height: 1.7rem;
}
.head{
	background-color:#123;  
	color:#fff;
	border:2px solid #fff;
	border-radius:7px;
	font-size: 1rem;
	margin-bottom: 10px; 
	padding: 10px 20px;
}

.card{
background-color: white;
width: 370px;
border-radius:15px; 
display: flex;
flex-direction: column;
padding: 20px;
box-shadow: 10px 10px 40px #124;
}
.qout{
color:#333;
font-size:20px;
margin-bottom: 10px;
} 
.person{
	color:darkred;
	text-transform: uppercase;
	letter-spacing: 0.09rem;
	margin-bottom: 13px; 
	font-size:1.4rem; 
}
.btn{
	background-color:#124;
	color:white;
	padding:10px 15px; 
	width: 100px;
	border-radius: 5px;
	border:none; 
display: flex;
align-self: center;
align-items: center;
justify-content: center;
font-weight: bold;
}
.btn:active{
background-color:#123; 
	transform:scale(0.993);  

}